-#  This file is app/views/movies/director.html.haml
%h1 All movies by ="#{@movie.director}"

%table#movies
  %thead
    %tr
      %th= link_to 'Movie Title', movies_path(:sort => 'title', :ratings => @selected_ratings), :id => 'title_header'
      %th Rating
      %th= link_to 'Release Date', movies_path(:sort => 'release_date', :ratings => @selected_ratings), :id => 'release_date_header'
      %th Director
      %th More Info
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title 
        %td= movie.rating
        %td= movie.release_date
        %td= ((movie.director == '')or(movie.director.nil?)) ? "'#{movie.title}' has no director info" : movie.director 
        %td= link_to "More about #{movie.title}", movie_path(movie)

= link_to 'Add new movie', new_movie_path
= link_to 'Back to home' , movies_path
